/* 共通 */
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.button {
  border: none;
  background: transparent;
}
.button img {
  width: 16px;
}
.app_container {
  background-image: url("src/images/app_bg_img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  width: 438px;
  height: 500px;
  padding: 35px;
}
.app_heading img {
  width: 150px;
}
.list_item {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-radius: 5px;
  margin-bottom: 20px;
}
.list_item_name {
  font-size: 1.6rem;
}
/* input_area */
.input {
  width: 70%;
  border: none;
  padding: 5px 0;
  background: transparent;
  cursor: pointer;
  border-bottom: 2px solid #000;
  outline: none;
}
.add_btn {
  border: none;
  background: transparent;
  font-size: 1.6rem;
}

/* incomplete_area */
.incomplete_item {
  background-color: #2b6ec7;
}

/* complete_area */
.complete_item {
  background-color: #d15069;
}
